<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpRedirect enabled="true"
      destination="https://apps.powerapps.com/play/160abb7b-d578-4546-b69f-df6e3e5b6198?tenantId=63017a85-6882-4075-8f94-9f302bb3eaff&amp;source=portal"
      exactDestination="true"
      httpResponseStatus="Found" />
  </system.webServer>
</configuration>
